
  body  {
     margin : 0 ;
     font-family : Arial, sans-serif ;
     background-color : #f4f4f4 ;
}


 header  {
     background-color : #272525 ;
     color : white ;
     padding : 15px ;
     text-align : center ;
}


 nav a {
    color  : white ;
    margin : 0 10px ;
     text-decoration : none ;
  }

 nav a:hover {
     text-decoration : underline;
  }


 footer {
    text-align : center ;
     padding : 10px ;
    background-color : rgb(95, 95, 209);
      color : white ;
} 

.hero {
    background-color : #66d66a ;
     color : white;
      padding : 40px ;
     text-align : center ;
}

.about {
     padding : 32px;
    background-color : rgb(233, 220, 220);
     margin : 20px ;
     border-radius : 10px ;
}